body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #7289DA;
}

.App {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}
nav{
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 2px 2px 2px grey;
  
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.book-list {
  padding: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}
.book-list ul{
  padding: 0;
  list-style-type: none;
}
.book-list li {
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
}
.book-list li:hover{
  opacity: 0.9;
  text-decoration: line-through;
}
.book-list .author{
  font-size: 0.9em;
}
.book-list .title{
  font-weight: bold;
  font-size: 1.2em;
}
.input {
  padding: .5em;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}
.button {
  padding: 20px;
}

